# Temp files
*arq*.txt
*arq*.json
*.log

# Config


# NPM Dependencies
node_modules

# Manual test files
teste.js
/log/executionOutput.log
/control/executionData.json
/data/*.json
/data/*.txt
/config/config.json